h1{
    font-family: 'Rubik Mono One', sans-serif;
}
header{
    padding-bottom: 10%;
}
.mainBoxRow{
    text-transform: uppercase;
    border:1px dotted #000;
}
span{
    /* margin-bottom: 15px; */
    /* border-bottom: 1px solid #000; */

}